@import url('./reset.css');

// MIXIN MEDIA-QUERIES
@mixin responsive($size) {
    @if $size == phone { @media (max-width: 599px) { @content; }
    } @else if $size == tablet { @media (max-width: 900px) { @content; }
    } @else if $size == desktop { @media (min-width: 1200px) { @content; }
    };
};

:root{
    --font-size: 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    min-height: 100%;
    background-color: var(--background-color);
    line-height: 1.3;
    letter-spacing: -.04rem;
    font-family:Arial;
}

body{
    background: linear-gradient(0deg, rgba(131,205,218,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
}

* {
    box-sizing: border-box;
}


// USEFUL CLASSES
.flex {
    display: flex
}

.grid {
    display: grid;
}
div.center{
    width: 100%;
    max-width: 960px;
    height: auto;
}


#wrapper {
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

header{
    justify-content: flex-end;

    & .logo{
        margin-right: auto;
        align-items: center;
        & img{
            max-width: 100%;
            height: auto;
        }
    }
    & .social-icons{
        align-items: center;

        & img{
            max-width: 100%;
            height: auto;
        }
    }
}

footer{
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    background-color: #ffffff;
}

#hero{
    width:100%;
    height: min(475px, (100vw * 49.479)/100);
    background: url('./images/imagemhunter.jpg') top left no-repeat;
    background-size: cover;
    position: relative;

    & > a{
        position: absolute;
        //top: calc(25% - 24px);
        top: calc(50% - 24px);
        left: 20%;
    }
}

main{

    & > .line-items {
        margin: 1rem 0;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5px;
        row-gap: 15px;

        & span{
            display: inline-block;
            width: 1px;
            &:not(:last-child){
                border-right: 1px solid gray ;
            }
        }
        
    }
    & .line{
        margin: auto 80px;
        gap: 60px;
        
        & .txt{
           flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            & p{
                line-height: 1.3rem;
                letter-spacing: .05rem;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
                
            }
        }

        & .link-orcamento{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & div{
                text-align: center;
            }
        }
        
    }
    & .banner {
        margin: 50px 0;
    }

    &>.banner>img{
        max-width: 100%;
        height: auto;
    }

}

.btn {
	box-shadow: 0px 10px 14px -7px #70470a;
	background:linear-gradient(to bottom, #ff6600 5%, #ff6600 100%);
	background-color:#ff6600;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	font-weight:bold;
	padding:13px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #803b0d;
}
.btn:hover {
	background:linear-gradient(to bottom, #ff6600 5%, #ff6600 100%);
	background-color:#ff6600;
}
.btn:active {
	position:relative;
	top:1px;
}